<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Chatbot</title>
		<link rel="stylesheet" href="{{ asset('chatbot.css') }}">
	</head>
	<body>
		<div class="chatbot-section">
			<iframe src="{{ app.request.getBaseURL() }}/chatbot-iframe" width="600" height="600"></iframe>
		</div>
	</body>
</html>
